@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

:root {
  --app-container: #f3f6fd;
  /* --primary: #4f9ec3; */
  --primary: #227093;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover: #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  /* --button: #227093; */
  --button: #4f9ec3;
  --search-area-bg: #fff;
  --star: #1ff1c2e;
  --message-btn: #fff;
}

.dark:root {
  --app-container: #111827;
  --main-color: #fff;
  --secondary-color: rgba(255, 255, 255, .8);
  --projects-section: #1f2937;
  --link-color: rgba(255, 255, 255, .8);
  --link-color-hover: rgba(195, 207, 244, 0.1);
  --link-color-active-bg: rgba(195, 207, 244, 0.2);
  --button-bg: #1f2937;
  --search-area-bg: #1f2937;
  --message-box-hover: #243244;
  --message-box-border: rgba(255, 255, 255, .1);
  --star: #ffd92c;
  --light-font: rgba(255, 255, 255, .8);
  --more-list-bg: #2f3142;
  --more-list-bg-hover: rgba(195, 207, 244, 0.1);
  --more-list-shadow: rgba(195, 207, 244, 0.1);
  --message-btn: rgba(195, 207, 244, 0.1);
}

body {
  background-color: var(--app-container);
}

.v-card {
  margin-bottom: 12px;
  background-color: transparent;
}

#floorplanContainer {
  width: 71.5%;
  display: inline-grid;
  border-radius: 32px;
  background-color: var(--primary);
  color: white;
  vertical-align: top;
  margin: 1rem;

  svg {
    width: 100%;
    border-radius: 32px;
    vertical-align: top;
    border-top: 1px solid black;
  }
}

#sidepanel {
  display: inline-grid;
  margin: 1rem;
  background-color: white;
  border-radius: 32px;
  vertical-align: top;
  width: 25%;
  height: 30%;
}

a {
  color: #555;
}

a:hover {
  color: #000;
}

ul {
  margin: 0 20px;
  padding: 0;
}

div.code {
  border: 1px solid #ccc;
  background: #eee;
  margin: 10px 0 10px 0;
  padding: 10px;
  width: 720px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 60px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 1px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #888888;
  pointer-events: none;
}


/* Styling for the submit button */
.wideButton {
  width: 100%;
  padding: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  background-color: var(--button);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.wideButton:hover {
  background-color: var(--button);
}

.wideButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.narrowButton {
  width: 120px;
  padding: 2px;
  margin: 2px;
  background-color: var(--button);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.narrowButton:hover {
  background-color: var(--button);
}

.narrowButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 2px;
}

.listItem {
  background-color: var(--app-container);
  margin: 2px;
  border-radius: 2px;
  color: black;
}

/* D3 Map Stuff */
.map-controls {
  transform: translatex(93%);
  transform: translatey(1%);
  width: 100px;
  height: 100px;
  background-color: var(--primary);
}